* {
    box-sizing: boder-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    font-family: courier;    
}

a {
    color: blue;
}

h1 {
    color: black;
    font-family: Courier New;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 0 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    display: grid;
    width: 500px;
    margin: 0 5px;
}

p  {
    color: black;
    font-family: courier;
}
